body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

h2, p, a {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 26px;
  color: #002855;
  margin-top: 150px;
  margin-bottom: 20px;
}


p {
  font-size: 16px;
  color: #333;
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 30px;
}

a {
  background-color: #0056d2;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s ease;
  width: fit-content;
}

a:hover {
  background-color: #003c99;
}
